{{ define "main" }}
    {{"<!-- layouts/home.html -->" | safeHTML }}
    <section class="prim-sec pt-0">
        <div class="home-hero">
            <div class="overlay">
                {{ $heroImg := resources.GetMatch "images/hero.webp" }}
                {{ $heroImg := $heroImg.Resize "1920x webp" }}
                <img 
                    src="{{ $heroImg.RelPermalink }}" 
                    alt="Scott Pellegrom playing the drums"
                    class="behind-overlay"
                >
            </div>
        </div>
    </section>
    <script src="/js/invite-redirect.js"></script>
{{ end }}
